* {
	font-family: Verdana, Tahoma, sans-serif;
}

body{
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: gray;
}
main {
	width: 80vw;
	height: 80vh;
	background: linear-gradient(to bottom, #02af87, #97d7e4);
	border-radius: 15px;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-between;
	padding: 20px;
	text-align: center;
	color: #182220;
}

section{
	width: 100%;
}

section.populated{
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	overflow: scroll;
}

.starter-text {
	padding: 0 80px;
}

form{
	height: 50px;
	width: 100%;
	display: flex;
	border-top: #182220 2px solid;
	padding-top: 20px;
	border-radius: 0 0 10px 10px;
	overflow: hidden;
}

input.question-box{
	width: 80%;
	height: 100%;
	border: none;
	border-radius: 20px;
	padding: 0 10px;
	font-size: 1e;
}

input[type="submit"]{
	width: 20%;
	height: 100%;
	border: rgb(4, 150, 82) 2px solid;
	border-radius: 30px;
	background-color: #4cd4b9;
	color: #037b33;
	font-size: 1em;
	font-weight: bold;
	cursor: pointer;
}
input:focus{
	outline: none;
}
input[type="submit"]:hover{
	background-color: #37a764;
	color: #4cd4b9;
	transition: 0.4s;
}

.bubble {
	margin: 8px;
	padding: 8px;
	font-size: 15px;
	border: none;
	color: #4cd4b9;
	box-shadow: #037b33 0 8px 24px;
	width: 80%;
	text-align: left;
}

.bubble.user {
	border-radius: 20px 20px 0 20px;
	background-color: #037b33;
	color: #bdf3d2;
	margin-left: auto;
}

.bubble.assistant {
	border-radius: 20px 20px 20px 0;
	background-color: #037b33;
	color:#bdf3d2;
	margin-right: auto;
}
.prompt-suggestion{
	display: flex;
	justify-content: flex-end;
	flex-wrap: wrap;
	height: 0vh;
}
.prompt-suggestion-button{
	border: 1px solid white;
	border-radius: 20px;
	background: none;
	color: #037b33;
	padding: 10px;
	margin: 5px;
	cursor: pointer;
}
.prompt-suggestion-button:focus{
	outline: none;
}
.prompt-suggestion-button:hover {
	background-color: #3db49c;
	border: none;
	color: #bdf3d2;
	transition: 0.4s;
}

.loader {
	margin: 16px;
	width: 64px;
	aspect-ratio: 6;
	background: 
		no-repeat radial-gradient(circle closest-side, #0fc959 90%, #0000) 0% 50%,
		no-repeat radial-gradient(circle closest-side, #0cb04e 90%, #0000) 50% 50%,
		no-repeat radial-gradient(circle closest-side, #037b33 90%, #0000) 100% 50%;
	background-size: calc(100%/3) 100%;
	animation: loading 1s infinite linear;
}

@keyframes loading{
	33% { background-size: calc(100%/3) 0, calc(100%/3) 100%, calc(100%/3) 100%;}
	50% { background-size: calc(100%/3) 100%, calc(100%/3) 0, calc(100%/3) 100%;}
	66% { background-size: calc(100%/3) 100%, calc(100%/3) 100%, calc(100%/3) 0;}
}